<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.css">
    <script defer src="/js/all.js"></script>
  </head>
  <body>
  <header>
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item has-text-white"><strong>Home</strong></a>
          <a href="/dashboard" class="navbar-item has-text-white"><strong>Dashboard</strong></a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {{#if loggedIn}}
                <a id="logout" class="button is-danger"><strong>Logout</strong></a>
              {{else}}
                <a href="/login" class="button is-info"><strong>Log in</strong></a>
                <a href="/signup" class="button is-primary"><strong>Sign up</strong></a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="hero is-medium is-info">
  <div class="hero-body">
    <p class="title">
      Personal Tech Blogging Platform
    </p>
    <p class="subtitle">
      Where talking about tech would never be enough 
    </p>
  </div>
</section>
  {{{body}}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>
</html>